{% extends 'base.html.twig' %}

{% set menu_active = 'configuration' %}
{% set content_menu = null %}

{% block stylesheets %}
    <link href="{{ asset('bundles/positibemedia/jquery-file-upload/css/file-upload.all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/positibemedia/css/media.css') }}" rel="stylesheet">
{% endblock %}
{% block nav_image '' %}
{% block body %}
    {% block content %}
        <div class="card" style="margin: 50px auto 50px">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    {% endblock %}
{% endblock %}